---
import PropsyIcon from '~/icons/PropsyIcon.tsx';
import Button from '~/components/Button.astro';

const { title, cta } = Astro.props;
---

<div class="discord">
	<h2>{title}</h2>
	<div class="cta">
		<PropsyIcon className="hide" />
		<Button variant="secondary" link="https://www.facebook.com/groups/oxyprops">{cta}</Button>
	</div>
</div>

<style>
	.discord {
		margin: 0 auto;
		padding: 4rem 0;
		text-align: center;
	}

	.discord h2 {
		font-size: var(--sl-text-2xl) !important;
		font-weight: 400;
	}

	.discord .cta {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hide {
		margin-bottom: -1rem;
		width: 5rem;
		height: 5rem;
	}
</style>